@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.focus-content-container {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  font-family: "Inter", sans-serif !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.96) !important;
  font-weight: bold !important;
  text-align: center !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 2147483647 !important;
}

.focus-content-container h1 {
  font-size: 3rem !important;
  color: #fff !important;
  margin: 0.5rem 0 !important;
}

.focus-content-container p {
  font-size: 2rem !important; 
  color: #FB4464 !important;
  margin: 0.5rem 0 !important;
}
